body {
    font-family: 'Montserrat', sans-serif;
    transition: 3s;
}

.login-container {
    margin-top: 10%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 50%;
}

.ads {
    background-color: #A569BD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.ads h1 {
    margin-top: 20%;
}

#fl {
    font-weight: 600;
}

#sl {
    font-weight: 100 !important;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    border-radius: 50%;
    /* animation: mymove 2s infinite; */
}

@keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
}

.login-form {
    padding: 15px;
}

.login-form h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-control {
    font-size: 14px;
}

.forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

* {
    font-family: 'Lato', sans-serif;
}

.profile-wrapper {
    max-width: 500px;
    width: 500px;
    height: 150px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-body {
    background: -moz-linear-gradient(320deg, rgba(31,41,125,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(31,41,125,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(320deg, rgba(31,41,125,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(320deg, rgba(31,41,125,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(320deg, rgba(31,41,125,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(130deg, rgba(31,41,125,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    height: 100px;
}

.profile-body img {
    margin: 15px 25px;
    height: 80%;
    border: 3px solid white;
    border-radius: 100%;
    vertical-align: top;
    float:left
}

.profile-body img:after {
    clear: both;
}

.profile-details {
    display: inline;
    float: left;
    overflow: hidden;
    color: white;
}

.profile-details:after {
    clear: both;
}

.profile-details h1 {
    margin-bottom: 0.1em;
}

.profile-details .description {
    margin: 0;
    padding-bottom: 0.3em;
}

.profile-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-details ul li, .profile-details .item {
    display: inline;
}

.clearfix {
    clear: both;
    margin:0;
    padding: 0;
}

.actions {
    height: 60px;
}

.actions:after {
    clear: both;
    margin:0;
    padding: 0;
}

.actions {
    text-align: center;
}

.actions button {
    background: none;
    border: none;
    width: 45%;
    height: 35px;
    color: white;
}

.actions button.primary {
    background: #0B607F;
}

.actions button.secondary {
    background: #037880;
}
* {
    font-family: 'Lato', sans-serif;
}
