<div class="example-wrapper" id="profile">
    <div class="profile-wrapper" >
        <div class="profile-body">
            <img src="http://images.equipboard.com/uploads/user/image/524/big_calvin-harris.jpg?v=1466072866" alt="" />
            <div class="profile-details">
                <p class="description" id="name">{{ candidate.name|upper }}</p>
                <p id="email">email: {{ candidate.email }}</p>
            </div>
        </div>

    </div>
</div>